<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lecho.lib.hellocharts.samples"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LineChartActivity"
            android:label="@string/title_activity_line_chart" >
        </activity>
        <activity
            android:name=".ColumnChartActivity"
            android:label="@string/title_activity_column_chart" >
        </activity>
        <activity
            android:name=".PieChartActivity"
            android:label="@string/title_activity_pie_chart" >
        </activity>
        <activity
            android:name=".BubbleChartActivity"
            android:label="@string/title_activity_bubble_chart" >
        </activity>
        <activity
            android:name=".PreviewLineChartActivity"
            android:label="@string/title_activity_preview_line_chart" >
        </activity>
        <activity
            android:name=".PreviewColumnChartActivity"
            android:label="@string/title_activity_preview_column_chart" >
        </activity>
        <activity
            android:name=".ComboLineColumnChartActivity"
            android:label="@string/title_activity_combo_line_column_chart" >
        </activity>
        <activity
            android:name=".LineColumnDependencyActivity"
            android:label="@string/title_activity_line_column_dependency" >
        </activity>
        <activity
            android:name=".GoodBadChartActivity"
            android:label="@string/title_activity_good_bad" >
        </activity>
        <activity
            android:name=".TempoChartActivity"
            android:label="@string/title_activity_tempo_chart" >
        </activity>
        <activity
            android:name=".SpeedChartActivity"
            android:label="@string/title_activity_speed_chart" >
        </activity>
        <activity
            android:name=".ViewPagerChartsActivity"
            android:label="@string/title_activity_view_pager_charts" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>