<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lecho.lib.hellocharts"
    android:versionCode="9"
    android:versionName="1.5.4" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

</manifest>